@model IEnumerable<ProjectTask> // specifies the collection of ProjectTasks
@{
    ViewData["Title"] = "Tasks List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th><i class="fa-solid fa-user-secret"></i> Task ID</th>
            <th><i class="fa-solid fa-pencil"></i> Title</th>
            <th><i class="fa-solid fa-address-card"></i> Description</th>
            <th><i class="fa-solid fa-scroll"></i> Project Id</th>
            <th><i class="fa-solid fa-dumbbell"></i> Actions</th> <!-- Column for action buttons Details, Edit, Delete-->
        </tr>
    </thead>

    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.ProjectTaskId</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.projectID</td>
                <td>
                    <a asp-action="Details" asp-route-id="@task.projectID" class="btn btn-info"><i class="fa-brands fa-readme"></i> Details</a>
                    <a asp-action="Edit" asp-route-id="@task.ProjectTaskId" class="btn btn-secondary"><i class="fa-solid fa-paint-roller"></i> Edit</a>
                    <a asp-action="Delete" asp-route-id="@task.ProjectTaskId" class="btn btn-danger"><i class="fa-solid fa-file-import"></i> Delete</a>

                </td>
            </tr>
        }

    </tbody>
</table>
<br />

<!--Button to create a new task-->
<a asp-action="Create" asp-route-projectID="@ViewBag.ProjectID" class="btn btn-primary"><i class="fa-solid fa-landmark-flag"></i> Create New Task</a>

<a asp-controller="Project" asp-action="Index" class="btn btn-secondary"><i class="fa-brands fa-docker"></i> Back to Projects</a>